 <!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin App</title>

 


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 <!--  <th:block th:include="/nav"></th:block>-->
<nav style="border-radius:0;" class="navbar navbar-inverse">
  
  
  
    <ul class="nav navbar-nav">
      <li class="active"><a th:href="@{agences}">Acceuil</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{agences}">Agence
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a th:href="@{postagence}">Ajouter agence</a></li>
         
          <li><a th:href="@{agences}">Agences</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{banquiers}">Banquier
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a th:href="@{postbanquier}">Ajouter banquier</a></li>
          <li><a th:href="@{banquiers}">Acceder aux banquiers</a></li>
         
        </ul>
      </li>
      
      
     <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{admins}">Admin
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a th:href="@{postadmin}">Ajouter Admin</a></li>
          <li><a th:href="@{admins}">Acceder aux admins</a></li>
         
        </ul>
      </li>
      
      
      
      
          </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a th:href="@{logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  
</nav>
<div class="ml-5 mr-5" style="margin-right:30px;margin-left:30px;">
<table  class="table">
<thead>
<tr>
<th>Id</th>
<th>Adresse</th>
<th>CIN</th>
<th>Date de naissance</th>
<th>Prénom</th>
<th>Nom</th>
<th>Phone</th>
<th>Joining_date</th>
<th>Email</th>
<th>Action</th>
</tr>

</thead>
<tbody>
<tr th:each="p:${test}">
<td style="vertical-align:middle;" th:text="${p.id}"></td>
<td style="vertical-align:middle;" th:text="${p.adresse}"></td>
<td style="vertical-align:middle;" th:text="${p.cin}"></td>

<td style="vertical-align:middle;" th:text="${p.dateNaissance}"></td>
<td style="vertical-align:middle;" th:text="${p.firstName}"></td>
<td style="vertical-align:middle;" th:text="${p.lastName}"></td>
<td style="vertical-align:middle;" th:text="${p.phone}"></td>
<td style="vertical-align:middle;" th:text="${p.joiningDate}"></td>
<td style="vertical-align:middle;" th:text="${p.email}"></td>
<td><button class="btn btn-danger"> <a style="color:white" onclick="return alert('Etes vous sure?')" th:href="@{deleteadmin(id=${p.id})}">Delete</a></button>

</td>



</tr>


</tbody>




</table>
</div>





</body>
</html>